 h3:hover {
     border: solid 5px black;
 }

 div:nth-child(3) {
    background-color: yellow;
 }
 div:nth-child(4) {
    background-color: blue;
 }

 div:nth-child(5) {
    background-color: red;
    height: 100px;
 }

 div:nth-child(6) {
    background-color: blue;
 }

 div:nth-child(7) {
    background-color: violet;
 }

 div:nth-child(odd){
     font-style: italic;
 }